In [1]:
import numpy as np
import pandas as pd

In [2]:
trees_data=pd.read_csv('p5.csv')

In [3]:
print(trees_data)

                                              FID        id  \
0     trees_display.fid--1672c0a_16c6758e284_-e38  18038741
1     trees_display.fid--1672c0a_16c6758e284_-e37  18038742
2     trees_display.fid--1672c0a_16c6758e284_-e36  18038743
3     trees_display.fid--1672c0a_16c6758e284_-e35  18038744
4     trees_display.fid--1672c0a_16c6758e284_-e34  18038745
...                                           ...       ...
9618  trees_display.fid--1672c0a_16c6758e284_175a  18048359
9619  trees_display.fid--1672c0a_16c6758e284_175b  18048360
9620  trees_display.fid--1672c0a_16c6758e284_175c  18048361
9621  trees_display.fid--1672c0a_16c6758e284_175d  18048362
9622  trees_display.fid--1672c0a_16c6758e284_175e  18048363

                                              geom  oid  sr_no  girth_cm  \
0      POINT (73.87415841200004 18.56424356200004)  NaN    NaN        26
1     POINT (73.87416645900002 18.564220360000025)  NaN    NaN        26
2      POINT (73.87414600700006 18.56420160800006)  NaN    NaN        25
3     POINT (73.87407459300003 18.564188259000034)  NaN    NaN        26
4      POINT (73.87396998700004 18.56422639900006)  NaN    NaN        26
...                                            ...  ...    ...       ...
9618   POINT (73.85540795000006 18.52595478100006)  NaN    NaN        98
9619    POINT (73.8550438330001 18.52438606700001)  NaN    NaN       105
9620  POINT (73.84921493600008 18.521887374000062)  NaN    NaN        57
9621  POINT (73.85049560300007 18.521745799000026)  NaN    NaN        11
9622  POINT (73.85614943100008 18.525268131000086)  NaN    NaN        28

      height_m  canopy_dia_m condition  other_remarks  ... ward_name  \
0            5             3   Healthy            NaN  ...        16
1            5             3   Healthy            NaN  ...        16
2            4             3   Healthy            NaN  ...        16
3            5             3   Healthy            NaN  ...        16
4            6             3   Healthy            NaN  ...        16
...        ...           ...       ...            ...  ...       ...
9618        12             6   Healthy            NaN  ...        24
9619        12             7   Healthy            NaN  ...        24
9620        12             1      Poor            NaN  ...        24
9621         3             1   Healthy            NaN  ...        24
9622         4             4   Healthy            NaN  ...        24

                           botanical_name saar_uid     common_name  \
0             Prosopis juliflora (Sw.)Dc.  4021357        Mesquite
1             Prosopis juliflora (Sw.)Dc.  4021359        Mesquite
2             Prosopis juliflora (Sw.)Dc.  4021358        Mesquite
3             Prosopis juliflora (Sw.)Dc.  4021360        Mesquite
4             Prosopis juliflora (Sw.)Dc.  4021361        Mesquite
...                                   ...      ...             ...
9618               Mangifera indica Linn.  4033437           Mango
9619  Senna siamea (Lam.) Irwin & Barneby  4033438  Siamese Cassia
9620         Spathodea campanulata Beauv.  4033439   Fountain Tree
9621      Alstonia scholaris (Linn.)R.Br.  4033440      Saptaparni
9622                   Psidium gaujava L.  4033441           Guava

           local_name   economic_i phenology       flowering  ward is_rare
0     Villayati Babul  Timber wood  Seasonal     October-May    16   False
1     Villayati Babul  Timber wood  Seasonal     October-May    16   False
2     Villayati Babul  Timber wood  Seasonal     October-May    16   False
3     Villayati Babul  Timber wood  Seasonal     October-May    16   False
4     Villayati Babul  Timber wood  Seasonal     October-May    16   False
...               ...          ...       ...             ...   ...     ...
9618             Amba        Fruit  Seasonal   January-March    24   False
9619           Kashid   Ornamental  Seasonal      August-May    24   False
9620         Pichkari   Ornamental  Seasonal  December-April    24   False
9621       Saptaparni    Medicinal  Seasonal  December-March    24   False
9622             Peru        Fruit  Seasonal      April-June    24   False

[9623 rows x 28 columns]

In [25]:
dummy_df = pd.get_dummies(trees_data, columns = ["condition"], prefix = ["Type_is"], prefix_sep = ' ')

In [26]:
dummy_df

,FID,id,geom,oid,sr_no,girth_cm,height_m,canopy_dia_m,other_remarks,ownership,...,local_name,economic_i,phenology,flowering,ward,is_rare,Type_is Average,Type_is Dead,Type_is Healthy,Type_is Poor
0,trees_display.fid--1672c0a_16c6758e284_-e38,18038741,POINT (73.87415841200004 18.56424356200004),NaN,NaN,26,5,3,NaN,Public,...,Villayati Babul,Timber wood,Seasonal,October-May,16,False,0,0,1,0
1,trees_display.fid--1672c0a_16c6758e284_-e37,18038742,POINT (73.87416645900002 18.564220360000025),NaN,NaN,26,5,3,NaN,Public,...,Villayati Babul,Timber wood,Seasonal,October-May,16,False,0,0,1,0
2,trees_display.fid--1672c0a_16c6758e284_-e36,18038743,POINT (73.87414600700006 18.56420160800006),NaN,NaN,25,4,3,NaN,Public,...,Villayati Babul,Timber wood,Seasonal,October-May,16,False,0,0,1,0
3,trees_display.fid--1672c0a_16c6758e284_-e35,18038744,POINT (73.87407459300003 18.564188259000034),NaN,NaN,26,5,3,NaN,Public,...,Villayati Babul,Timber wood,Seasonal,October-May,16,False,0,0,1,0
4,trees_display.fid--1672c0a_16c6758e284_-e34,18038745,POINT (73.87396998700004 18.56422639900006),NaN,NaN,26,6,3,NaN,Public,...,Villayati Babul,Timber wood,Seasonal,October-May,16,False,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9618,trees_display.fid--1672c0a_16c6758e284_175a,18048359,POINT (73.85540795000006 18.52595478100006),NaN,NaN,98,12,6,NaN,Private,...,Amba,Fruit,Seasonal,January-March,24,False,0,0,1,0
9619,trees_display.fid--1672c0a_16c6758e284_175b,18048360,POINT (73.8550438330001 18.52438606700001),NaN,NaN,105,12,7,NaN,Private,...,Kashid,Ornamental,Seasonal,August-May,24,False,0,0,1,0
9620,trees_display.fid--1672c0a_16c6758e284_175c,18048361,POINT (73.84921493600008 18.521887374000062),NaN,NaN,57,12,1,NaN,Govt,...,Pichkari,Ornamental,Seasonal,December-April,24,False,0,0,0,1
9621,trees_display.fid--1672c0a_16c6758e284_175d,18048362,POINT (73.85049560300007 18.521745799000026),NaN,NaN,11,3,1,NaN,Govt,...,Saptaparni,Medicinal,Seasonal,December-March,24,False,0,0,1,0
9622,trees_display.fid--1672c0a_16c6758e284_175e,18048363,POINT (73.85614943100008 18.525268131000086),NaN,NaN,28,4,4,NaN,Private,...,Peru,Fruit,Seasonal,April-June,24,False,0,0,1,0

In [27]:
dummy_df = pd.get_dummies(dummy_df, columns = ["ownership"], prefix = ["Type_is"], prefix_sep = ' ')

In [28]:
dummy_df

,FID,id,geom,oid,sr_no,girth_cm,height_m,canopy_dia_m,other_remarks,society_name,...,Type_is Garden,Type_is Government,Type_is Govt,Type_is On Bridge,Type_is On Divider,Type_is On Foot Path,Type_is On Road,Type_is On Wall,Type_is Private,Type_is Public
0,trees_display.fid--1672c0a_16c6758e284_-e38,18038741,POINT (73.87415841200004 18.56424356200004),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,0,0,1
1,trees_display.fid--1672c0a_16c6758e284_-e37,18038742,POINT (73.87416645900002 18.564220360000025),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,0,0,1
2,trees_display.fid--1672c0a_16c6758e284_-e36,18038743,POINT (73.87414600700006 18.56420160800006),NaN,NaN,25,4,3,NaN,N/A\n,...,0,0,0,0,0,0,0,0,0,1
3,trees_display.fid--1672c0a_16c6758e284_-e35,18038744,POINT (73.87407459300003 18.564188259000034),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,0,0,1
4,trees_display.fid--1672c0a_16c6758e284_-e34,18038745,POINT (73.87396998700004 18.56422639900006),NaN,NaN,26,6,3,NaN,N/A\n,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9618,trees_display.fid--1672c0a_16c6758e284_175a,18048359,POINT (73.85540795000006 18.52595478100006),NaN,NaN,98,12,6,NaN,Roshani Industrial Estate,...,0,0,0,0,0,0,0,0,1,0
9619,trees_display.fid--1672c0a_16c6758e284_175b,18048360,POINT (73.8550438330001 18.52438606700001),NaN,NaN,105,12,7,NaN,Mangla Theatre,...,0,0,0,0,0,0,0,0,1,0
9620,trees_display.fid--1672c0a_16c6758e284_175c,18048361,POINT (73.84921493600008 18.521887374000062),NaN,NaN,57,12,1,NaN,Balgandharva Rang Mandir,...,0,0,1,0,0,0,0,0,0,0
9621,trees_display.fid--1672c0a_16c6758e284_175d,18048362,POINT (73.85049560300007 18.521745799000026),NaN,NaN,11,3,1,NaN,Siddeshwar Mandir,...,0,0,1,0,0,0,0,0,0,0
9622,trees_display.fid--1672c0a_16c6758e284_175e,18048363,POINT (73.85614943100008 18.525268131000086),NaN,NaN,28,4,4,NaN,Dhobighat,...,0,0,0,0,0,0,0,0,1,0

In [29]:
dummy_df = pd.get_dummies(dummy_df, columns = ["balanced"], prefix = ["Type_is"], prefix_sep = ' ')

In [30]:
dummy_df

,FID,id,geom,oid,sr_no,girth_cm,height_m,canopy_dia_m,other_remarks,society_name,...,Type_is Govt,Type_is On Bridge,Type_is On Divider,Type_is On Foot Path,Type_is On Road,Type_is On Wall,Type_is Private,Type_is Public,Type_is False,Type_is True
0,trees_display.fid--1672c0a_16c6758e284_-e38,18038741,POINT (73.87415841200004 18.56424356200004),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,1,0,1
1,trees_display.fid--1672c0a_16c6758e284_-e37,18038742,POINT (73.87416645900002 18.564220360000025),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,1,0,1
2,trees_display.fid--1672c0a_16c6758e284_-e36,18038743,POINT (73.87414600700006 18.56420160800006),NaN,NaN,25,4,3,NaN,N/A\n,...,0,0,0,0,0,0,0,1,0,1
3,trees_display.fid--1672c0a_16c6758e284_-e35,18038744,POINT (73.87407459300003 18.564188259000034),NaN,NaN,26,5,3,NaN,N/A\n,...,0,0,0,0,0,0,0,1,0,1
4,trees_display.fid--1672c0a_16c6758e284_-e34,18038745,POINT (73.87396998700004 18.56422639900006),NaN,NaN,26,6,3,NaN,N/A\n,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9618,trees_display.fid--1672c0a_16c6758e284_175a,18048359,POINT (73.85540795000006 18.52595478100006),NaN,NaN,98,12,6,NaN,Roshani Industrial Estate,...,0,0,0,0,0,0,1,0,0,1
9619,trees_display.fid--1672c0a_16c6758e284_175b,18048360,POINT (73.8550438330001 18.52438606700001),NaN,NaN,105,12,7,NaN,Mangla Theatre,...,0,0,0,0,0,0,1,0,0,1
9620,trees_display.fid--1672c0a_16c6758e284_175c,18048361,POINT (73.84921493600008 18.521887374000062),NaN,NaN,57,12,1,NaN,Balgandharva Rang Mandir,...,1,0,0,0,0,0,0,0,0,1
9621,trees_display.fid--1672c0a_16c6758e284_175d,18048362,POINT (73.85049560300007 18.521745799000026),NaN,NaN,11,3,1,NaN,Siddeshwar Mandir,...,1,0,0,0,0,0,0,0,0,1
9622,trees_display.fid--1672c0a_16c6758e284_175e,18048363,POINT (73.85614943100008 18.525268131000086),NaN,NaN,28,4,4,NaN,Dhobighat,...,0,0,0,0,0,0,1,0,0,1

In [31]:
ward_name=trees_data["ward_name"]

In [38]:
ward_name.value_counts()

9     2898
24    2566
41    1652
8      715
16     514
1      442
31     282
30     227
45     155
46      60
7       59
6       38
71      14
61       1
Name: ward_name, dtype: int64

In [39]:
data = pd.read_csv('p5.csv')

In [40]:
ward_no = pd.DataFrame(data["ward_name"])

In [42]:
ward_no.to_csv('ward_np.csv',index=False)

In [45]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("9", "Baner Balewadi")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [46]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("24", "Balgandharva")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [47]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("41", "Sopanbag Vikasnagar")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [48]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("8", "Aundh ITI")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [49]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("16", "Subhashnagar")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [51]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("31", "Shivne Warje Ramnagar")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [52]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("30", "Popularnagar Malwadi")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [53]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("45", "Mohammadwadi")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [54]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("46", "Vanwadi Ramtekdi")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [55]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("7", "Pune University")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [56]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("6", "Bopodi Gavthan")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [57]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("71", "Shivaji Market Gultekdi")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [58]:
text = open("ward_np.csv", "r")
text = ''.join([i for i in text]) \
    .replace("61", "Kedar Vasti Azadnagar")
x = open("ward_np.csv","w")
x.writelines(text)
x.close()

In [60]:
data = pd.read_csv('ward_np.csv')

In [62]:
ward_data = pd.DataFrame(data["ward_name"])

ward_data = list(ward_data["ward_name"])

In [64]:
print(ward_data)

         ward_name
0     Subhashnagar
1     Subhashnagar
2     Subhashnagar
3     Subhashnagar
4     Subhashnagar
...            ...
9618  Balgandharva
9619  Balgandharva
9620  Balgandharva
9621  Balgandharva
9622  Balgandharva

[9623 rows x 1 columns]

In [65]:
trees_data["ward"]=ward_data

In [66]:
print(trees_data)

                                              FID        id  \
0     trees_display.fid--1672c0a_16c6758e284_-e38  18038741
1     trees_display.fid--1672c0a_16c6758e284_-e37  18038742
2     trees_display.fid--1672c0a_16c6758e284_-e36  18038743
3     trees_display.fid--1672c0a_16c6758e284_-e35  18038744
4     trees_display.fid--1672c0a_16c6758e284_-e34  18038745
...                                           ...       ...
9618  trees_display.fid--1672c0a_16c6758e284_175a  18048359
9619  trees_display.fid--1672c0a_16c6758e284_175b  18048360
9620  trees_display.fid--1672c0a_16c6758e284_175c  18048361
9621  trees_display.fid--1672c0a_16c6758e284_175d  18048362
9622  trees_display.fid--1672c0a_16c6758e284_175e  18048363

                                              geom  oid  sr_no  girth_cm  \
0      POINT (73.87415841200004 18.56424356200004)  NaN    NaN        26
1     POINT (73.87416645900002 18.564220360000025)  NaN    NaN        26
2      POINT (73.87414600700006 18.56420160800006)  NaN    NaN        25
3     POINT (73.87407459300003 18.564188259000034)  NaN    NaN        26
4      POINT (73.87396998700004 18.56422639900006)  NaN    NaN        26
...                                            ...  ...    ...       ...
9618   POINT (73.85540795000006 18.52595478100006)  NaN    NaN        98
9619    POINT (73.8550438330001 18.52438606700001)  NaN    NaN       105
9620  POINT (73.84921493600008 18.521887374000062)  NaN    NaN        57
9621  POINT (73.85049560300007 18.521745799000026)  NaN    NaN        11
9622  POINT (73.85614943100008 18.525268131000086)  NaN    NaN        28

      height_m  canopy_dia_m condition  other_remarks  ... ward_name  \
0            5             3   Healthy            NaN  ...        16
1            5             3   Healthy            NaN  ...        16
2            4             3   Healthy            NaN  ...        16
3            5             3   Healthy            NaN  ...        16
4            6             3   Healthy            NaN  ...        16
...        ...           ...       ...            ...  ...       ...
9618        12             6   Healthy            NaN  ...        24
9619        12             7   Healthy            NaN  ...        24
9620        12             1      Poor            NaN  ...        24
9621         3             1   Healthy            NaN  ...        24
9622         4             4   Healthy            NaN  ...        24

                           botanical_name saar_uid     common_name  \
0             Prosopis juliflora (Sw.)Dc.  4021357        Mesquite
1             Prosopis juliflora (Sw.)Dc.  4021359        Mesquite
2             Prosopis juliflora (Sw.)Dc.  4021358        Mesquite
3             Prosopis juliflora (Sw.)Dc.  4021360        Mesquite
4             Prosopis juliflora (Sw.)Dc.  4021361        Mesquite
...                                   ...      ...             ...
9618               Mangifera indica Linn.  4033437           Mango
9619  Senna siamea (Lam.) Irwin & Barneby  4033438  Siamese Cassia
9620         Spathodea campanulata Beauv.  4033439   Fountain Tree
9621      Alstonia scholaris (Linn.)R.Br.  4033440      Saptaparni
9622                   Psidium gaujava L.  4033441           Guava

           local_name   economic_i phenology       flowering          ward  \
0     Villayati Babul  Timber wood  Seasonal     October-May  Subhashnagar
1     Villayati Babul  Timber wood  Seasonal     October-May  Subhashnagar
2     Villayati Babul  Timber wood  Seasonal     October-May  Subhashnagar
3     Villayati Babul  Timber wood  Seasonal     October-May  Subhashnagar
4     Villayati Babul  Timber wood  Seasonal     October-May  Subhashnagar
...               ...          ...       ...             ...           ...
9618             Amba        Fruit  Seasonal   January-March  Balgandharva
9619           Kashid   Ornamental  Seasonal      August-May  Balgandharva
9620         Pichkari   Ornamental  Seasonal  December-April  Balgandharva
9621       Saptaparni    Medicinal  Seasonal  December-March  Balgandharva
9622             Peru        Fruit  Seasonal      April-June  Balgandharva

     is_rare
0      False
1      False
2      False
3      False
4      False
...      ...
9618   False
9619   False
9620   False
9621   False
9622   False

[9623 rows x 28 columns]

In [67]:
trees_data.to_csv("updated_trees_data.csv")